* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: currentColor;
}

body {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  padding: 0 40px;
  max-width: 1440px;
  min-width: 700px;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: whitesmoke;
}

.header {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  height: 50px;
  background-color: chocolate;
}

.main {
  display: flex;
  height: 100%;
}

.chat {
  display: flex;
  flex-grow: 1;
  gap: 20px;
  width: 100%;
}

.chat__wrap {
  display: flex;
  height: calc(100vh - 150px);
  overflow: hidden auto;
}

.chat__wrap--users {
  background-color: chocolate;
  flex-shrink: 0;
}

.chat__wrap--window {
  flex-grow: 1;
}

.chat__list {
  display: flex;
  flex-flow: column;
  gap: 15px;
  padding: 20px 35px 20px 15px;
  height: 100%;
}

.chat__list--users {
  width: 200px;
}

.chat__list--window {
  width: 100%;
  color: chocolate;
}

.footer {
  /* margin-top: auto; */
  padding: 10px 15px;
  height: 100px;
  background-color: chocolate;
}
